In [4]:
import pandas as pd

weather = pd.read_csv("local_weather.csv", index_col="DATE")
weather.head()

,STATION,NAME,ACMH,ACSH,AWND,DAPR,FMTM,FRGT,MDPR,PGTM,...,WT01,WT02,WT03,WT04,WT05,WT07,WT08,WT09,WT16,WT18
DATE,,,,,,,,,,,,,,,,,,,,,
1960-01-01,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-02,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1960-01-03,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-04,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-05,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN

In [5]:
weather.apply(pd.isnull).sum()

STATION        0
NAME           0
ACMH       11015
ACSH       11015
AWND        8808
DAPR       16851
FMTM       14669
FRGT       16857
MDPR       16851
PGTM        8347
PRCP         281
SNOW        5479
SNWD        5355
TAVG       14822
TMAX           9
TMIN          10
TSUN       15708
WDF1       11015
WDF2        8807
WDF5        8894
WDFG       12592
WSF1       11015
WSF2        8806
WSF5        8894
WSFG       12592
WT01       13149
WT02       16526
WT03       16740
WT04       16855
WT05       16831
WT07       16857
WT08       13662
WT09       16857
WT16       14904
WT18       16856
dtype: int64